.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

[href] {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.header__container, .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.nav__list, .contacts, .benefits, .work, .team, .social-links, .clients, .address, .join__list, .btn, .portfolio {
  padding-left: 0;
  list-style: none;
}

.btn__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 0;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
}

.btn__item:hover, .btn__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  background-color: #ffffff;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0;
  color: #212121;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link--active {
  color: #2196f3;
}

.nav__link--active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts:first-child {
  margin-right: 50px;
}

.contacts__item:first-child {
  margin-right: 30px;
}

.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: #757575;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo, .logo__footer {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo__part {
  color: #000000;
}

.logo__footer {
  display: block;
  margin-right: 0;
}

.logo__inverse {
  color: #ffffff;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border-color: #2196f3;
  background-color: #2196f3;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.benefits {
  display: flex;
}

.benefits__item {
  padding: 0;
}

.benefits__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.benefits__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.benefits__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.section__section--padding {
  padding-top: 0;
}

.work {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.work:last-child {
  padding-right: 0;
}

.work__thumb {
  position: relative;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section__section--bgc {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  margin-top: 50px;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
}

.social-links__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: 20px;
  background-position: center;
  fill: #afb1b8;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: #ffffff;
}

.social-links__icon:not(:last-child) {
  margin-right: 10px;
}

.clients {
  display: flex;
  margin-top: 50px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.clients__logo {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__contacts {
  color: #ffffff;
}

.address__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.text-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.join {
  margin-left: 70px;
}

.join__list {
  display: inline-flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join__link:hover, .join__link:focus {
  background-color: #2196f3;
}

.join__icon {
  fill: #ffffff;
}

.form-sub {
  display: flex;
  margin-left: auto;
}

.form-sub__container {
  display: flex;
  flex-direction: column;
}

.form-sub__label {
  display: inline-flex;
}

.form-sub__input {
  display: flex;
  align-items: baseline;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  background-color: #2f303a;
}

.form-sub__input:hover, .form-sub__input:focus {
  border-color: inherit;
  outline: transparent;
}

.form-sub__input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-sub__button {
  display: flex;
  align-items: flex-end;
  margin-left: 12px;
}

.form-sub__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
}

.form-sub__btn:hover, .form-sub__btn:focus {
  background-color: #188ce8;
}

.form-sub__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #ffffff;
}

.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-form__box {
  margin-bottom: 10px;
}

.modal-form__label {
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__item {
  position: relative;
}

.modal-form__input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  width: 448px;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.textarea {
  display: grid;
}

.textarea__item {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea__item:hover, .textarea__item:focus {
  border-color: #2196f3;
}

.textarea__item::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__item {
  position: relative;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkbox__input:checked + .checkbox__item {
  box-shadow: none;
  border-color: #2196f3;
  background-color: #2196f3;
}

.checkbox__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  padding: 1px;
  border-radius: 4px;
  opacity: 0;
}

.checkbox__input:checked ~ .checkbox__icon {
  opacity: 1;
  fill: #ffffff;
}

.checkbox__link {
  text-decoration: underline;
  color: #2196f3;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn__wrapper:not(:last-child) {
  margin-right: 8px;
}

.btn__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: -30px;
  margin-left: -30px;
}

.portfolio__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.portfolio__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  padding: 63px 24px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__link:hover .card__text,
.portfolio__link:focus .card__text {
  transform: translateY(0);
}

.card {
  position: relative;
  overflow: hidden;
}

.card-thumb {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.card-thumb__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.card-thumb__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */