.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bgc-color;
}

.footer__container {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__wrapper {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.footer__box {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.address {
  @extend %list;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (min-width: $desktop) {
    margin-top: 20px;
  }
}

.address__item:not(:first-child) {
  margin-top: 8px;

  @media screen and (min-width: $desktop) {
    margin-top: 9px;
  }
}

.address__contacts {
  color: #ffffff;
}

.address__link {
  transition: color $anim-duration $cubic;

  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.text-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.join {
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 70px;
    text-align: start;
  }
}

.join__list {
  @extend %list;

  display: inline-flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  transition: color $anim-duration $cubic, background-color $anim-duration $cubic;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join__icon {
  fill: #ffffff;
}

.form-sub {
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
  }
}

.form-sub__container {
  text-align: center;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.form-sub__label {
  display: inline-flex;
}

.form-sub__input {
  display: flex;
  align-items: baseline;
  padding-left: 16px;
  width: 100%;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  color: #ffffff;
  background-color: $bgc-color;

  &:hover,
  &:focus {
    border-color: inherit;
    outline: transparent;
  }

  &:placeholder-shown {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    width: 358px;
  }
}

.form-sub__button {
  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: flex-end;
    margin-left: 12px;
    margin-top: 0;
  }
}

.form-sub__btn {
  transition: background-color $anim-duration $cubic;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: #ffffff;
  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.form-sub__icon {
  margin-left: 10px;

  fill: #ffffff;
}
