.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;

  background-color: $bgc-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero__button {
  transition: color $anim-duration $cubic, background-color $anim-duration $cubic;

  display: flex;
  margin-top: $main-size;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: #ffffff;
  border-color: $accent-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
