.menu-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  z-index: 10;

  background-color: transparent;
  border: transparent;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-btn__icon-close {
  opacity: 0;
}

.menu-btn.is-open .menu-btn__icon-close {
  opacity: 0;
}

.menu-btn.is-open .menu-btn__icon-open {
  opacity: 1;
}
