.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  transform: translateX(100%);
  transition: transform $anim-duration $cubic;

  background-color: #ffffff;

  &.is-open {
    opacity: 1;
    transform: translateX(0);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-nav__list {
  @extend %list;
}

.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-nav__link {
  color: $title-color;
}

.mobile-nav__link--active {
  color: $accent-color;
}

.mobile-menu__box {
  margin-top: auto;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__list {
  @extend %list;
}

.mobile-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contacts__link {
  font-size: 24px;
  line-height: 1.17;

  color: $text-color;
}

.mobile-contacts__link--active {
  color: $accent-color;

  @media screen and (min-width: 480px) {
    font-size: 34px;
    line-height: 1.18;
  }
}

.mobile-social-links__list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-top: -10px;

  font-size: 18px;
  line-height: 22px;

  color: $accent-color;
}

.mobile-social-links__item {
  margin-right: 10px;
  margin-top: 10px;
}

.mobile-social-links__link {
  display: block;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-social-links__item:last-child .mobile-social-links__link {
  padding: 0;
  border: none;
}
