.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity $anim-duration $cubic, visibility $anim-duration $cubic;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  width: 100vw;
  height: 100vh;

  background-color: #ffffff;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-menu__container {
  padding: 48px 40px;
}

.mobile-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-nav__list {
  @extend %list;
}

.mobile-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-nav__link {
  color: $title-color;
}

.mobile-nav__link--active {
  color: $accent-color;
}

.mobile-contacts {
  font-size: 24px;
  line-height: 1.17;
  color: $text-color;
}

.mobile-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contacts__link {
  color: $text-color;
}

.mobile-contacts__link--active {
  color: $accent-color;
}

.mobile-contacts__list {
  @extend %list;
}
